!!! 5
html
  head
    link(href='http://fonts.googleapis.com/css?family=Bowlby+One', rel='stylesheet', type='text/css')
    meta(charset="utf-8")
    title FUCKMAHJONG

    - each file in css
      link(rel='stylesheet', href="/css/" + file + ".css", type="text/css")

    script(src="/socket.io/socket.io.js")
    script
      window.location.hash = '';
      APP = {};

    audio#s_click(preload)
      source(src= "/sounds/click.mp3")
    audio#s_gling(preload)
      source(src= "/sounds/gling.mp3")
    audio#s_grunt(preload)
      source(src= "/sounds/grunt.mp3")

  body
    #container.paused
      h1
        a(href= '/') FUCKMAHJONG
      != body

    - if (room)
      - each file in js
        script(src='/js/' + file + '.js')
