!!! 5
html
  head
    link(href='http://fonts.googleapis.com/css?family=Bowlby+One', rel='stylesheet', type='text/css')
    meta(charset="utf-8")
    title FUCKMAHJONG
    link(rel="stylesheet", href="/css/whatajong.css", type="text/css", media="screen")

    script(src="/js/vendor/jquery.js")
    script
      window.location.hash = '';
      APP = {};

    - if (room)
      script(src="/js/vendor/raphael.js")
      script(src="/js/vendor/underscore.js")
      script(src="/socket.io/socket.io.js")
      script(src="/js/tile.js")
      script(src="/js/client.js")
      script(src="/js/mouse.js")
      script(src="/js/confirm.js")

      audio#s_click(preload)
        source(src= "/sounds/click.mp3")
      audio#s_gling(preload)
        source(src= "/sounds/gling.mp3")
      audio#s_grunt(preload)
        source(src= "/sounds/grunt.mp3")

  body
    #container.paused
      h1
        a(href= '/') FUCKMAHJONG
      != body
