input#room_id(type='hidden', value= room._id)
input#user_id(type='hidden', value= user._id)
input#user_name(type='hidden', value= user.name)
#danger
  #num_pairs

#score
  #time
  #points
  img(src= user.picture, width= 48, height= 48)

#players

#canvas
