// info
- if (room)
  input#room_host_id(type='hidden', value= room.host_id)

input#namespace_id(type='hidden', value= room ? room._id : user._id)
input#user_id(type='hidden', value= user._id)
input#user_name(type='hidden', value= user.name)
input#user_picture(type= 'hidden', value= user.picture)

#win.dialog
  .dialog_modal
  .dialog_content
    h2 Congratulations!
    h3 You removed all the tiles from the board!
    .total_score
    ul.players.ranking
    a.back.btn.blue(href= '/') Leave the game
    a.dialog_yes.btn(href= '') Play again

#loose.dialog
  .dialog_modal
  .dialog_content
    h2 Oops!
    h3 No more moves left
    .total_score
    ul.players.ranking
    a.leave.btn.blue(href= '/') Leave the game
    a.dialog_yes.btn(href= '#') Play again

// list of connected users
ul.players.sidebar
  li.player.unknown ?
  - if (room)
    li.player.unknown ?
    li.player.unknown ?
    li.player.unknown ?
    li.player.unknown ?
    li.player.unknown ?

- if (room)
  #paused
    a#logout.btn.blue(href='/logout') Logout
    p
      | You can invite people to this game by sharing this link:
      textarea URL
    - if (user._id.toString() === room.host_id.toString())
      a.start.btn(href= '#') Start game
    - else
      strong Waiting for the host to start the game...

#playing
  #score
    #time
  #num_pairs

  #canvas
