a#logout.btn.blue(href='/logout') Logout
h2 How to play:

.rule
  p
    | The goal is to clear the board by removing all the tiles from the layout.
    br
    | You must remove the tiles in pairs. A pair consists of two tiles which both are free and identical.</fb:intl>

  p
    | A tile is free when:
    br
    | * No other tile is lying above or is partially covering it
    br
    | * No other tile is lying to the left or to the right of it (it can "slide" in one or both these directions..)

  p
    | Two tiles are identical if they look exactly the same. An exception to this are the Flowers tiles.
    br
    | All the Red Flowers tiles match one another and all the Green Flowers tiles match one another. You should study them before starting a game.

  p Each tile appears four times in a standard solitaire mahjongg game. Again an exception for the Flowers tiles who appear only once each during a game.

  p
    | It's not as easy as it sounds; you can end up with having matched the "wrong" pairs and you may find yourself stuck, with unmatchable tiles blocking other key tiles so you can't clear the layout.
    br
    | You must be careful before removing a pair, you should look for where the remaining pair is in the layout and plan ahead.
    br
    | If all four of an identical tile are free, remove them to 'unclutter' the field. You have to play strategic.

h2 The tiles:
.rule
  p A Mah-Jongg set consists of 144 tiles. These are split in seven groups, called sets.

  p
    strong Circles.
    | Their numerical value (1 to 9) are represented by the number of balls shown on the tiles. There are four tiles of every Circle (36 tiles total).
    br
    img(src='/images/help/circles.png', alt='Circles')
  p
    strong Bamboos
    | Their numerical value (1 to 9) are represented by the number of sticks shown on the tiles. There are four tiles of every Bamboo (36 tiles total). A bird is shown on tile number one.
    br
    img(src='/images/help/bamboos.png', alt='Bamboos')
  p
    strong Numbers
    | The black symbol above are the sign for the numbers from 1 to 9. There are four tiles of every Number (36 tiles total).
    br
    img(src='/images/help/numbers.png', alt='Numbers')
  p
    strong Winds
    | From left to right: East, South, West and North. Shown on every tile is the Chinese symbol for the according wind. There are four tiles of every Wind (16 tiles total).
    br
    img(src='/images/help/winds.png', alt='Winds')
  p
    strong Dragons
    | From left to right: Green Dragon, White Dragon and Red dragon. There are four tiles of every Dragon (12 tiles total).
    br
    img(src='/images/help/dragons.png', alt='Dragons')
  p
    strong Red Flowers
    | The Red Flowers tiles only appear once each in a game (4 tiles total). When you play solitaire mahjongg games any Red Flower will match another Red Flower.
    br
    img(src='/images/help/red_flowers.png', alt='Red flowers')
  p
    strong Green Flowers
    | The Green Flowers tiles only appear once each in a game (4 tiles total). When you play solitaire mahjongg games any Green Flower will match another Green Flower).
    br
    img(src='/images/help/green_flowers.png', alt='Green flowers')

h2 The Strategy:
.rule
  p * Remember that there are four of each tile. When removing a pair, remember that an identical pair exists in the layout. Is it trapped by your removal of the first pair? Choose wisely.
  p * Concentrate your efforts on long rows and tall stacks
  p * Plan ahead as many moves as you can.
  p * If all four of a tile are available, remove them all to unclutter the field.
  p * Identify as many matching pairs as possible. Check for tiles that need to be unblocked.
  p * Beware of triples (three matching free tiles); choose carefully which pair you remove. Leave the one that's blocking the least important tiles.
  p * Concentrate on removing pairs that will unblock the most tiles.
