body {
  margin: 0;
  padding: 0;
  background: url(../images/background.jpg) repeat top left;
  color: rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0px 0px 35px;
  font-weight: normal;
}

h1 a {
  font-size: 36pt;
  color: #FFC;
  font-family: 'Bowlby One';
  text-shadow: 2px 2px 0px #630;
}

h2 {
  font-family: 'Bowlby One';
  margin: 0px 0px 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
}

.paused #playing,
.playing #paused {
  display: none;
}

.paused #paused,
.playing #playing {
  display: block;
}

.playing #paused {
  display: none;
}

#paused {
  padding-left: 85px;
}

#paused p {
  color: rgba(0, 0, 0, 0.6);
}

#paused textarea {
  background: rgba(255, 255, 150, 0.8);
  color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-family: monospace;
  display: block;
  border: none;
  width: 450px;
  margin-top: 10px;
  height: 15px;
  font-size: 14px;
  resize: none;
  overflow:hidden;
}

#container {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

#score {
  font-family: 'Bowlby One';
  position: absolute;
  top: 0px;
  right: 0px;
}

#num_pairs {
  font-family: 'Bowlby One';
  font-size: 24pt;
  position: absolute;
  top: 50px;
  right: 13px;
  width: 135px;
  text-align: right;
}

#num_pairs span {
  font-size: 14px;
  position: relative;
  top: -9px;
  margin-left: 5px;
}

#time {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 42px;
  width: 135px;
  color: rgba(0, 0, 0, 0.5)
}

#players {
  width: 85px;
  position: absolute;
  padding: 0px;
}

#players li{
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 48px;
  height: 48px;
  display: block;
  margin: 0px 0px 15px;
  -webkit-box-shadow: 1px 1px 1px #630 inset, 1px 1px 0px #d47543;
     -mox-box-shadow: 1px 1px 1px #630 inset, 1px 1px 0px #d47543;
          box-shadow: 1px 1px 1px #630 inset, 1px 1px 0px #d47543;
}

.points {
  font-family: 'Bowlby One';
  position: absolute;
  font-size: 32pt;
  color: #8b3;
  text-shadow: 2px 2px 1px #690;
}

.mouse{
  position: absolute;
  height: 22px;
  line-height: 22px;
  min-width: 15px;
  z-index: 100;
  padding: 0px 5px 0px 17px;
  color: #333;
  background: rgba(255, 255, 255, 0.4) url('../images/cursor.png') no-repeat;
  -moz-border-radius:    2px;
  -webkit-border-radius: 2px;
  border-radius:         2px;
  font-family: Monaco, monospace;
}

#canvas {
  position: relative;
  text-align: center;
}

.box {
  padding: 20px;
  font-size: 14pt;
  background: #ffd;
  background: rgba(255, 255, 200, 0.5);
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
  border-top: 1px solid #c91;
  border-left: 1px solid #c91;
  border-right: 1px solid #fe4;
  border-bottom: 1px solid #fe4;
}

/* dialogs */
.dialog {
  display: none;
}

.dialog_modal {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
}

.dialog_content {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  padding: 20px;
  background: #FFFFFF;
  z-index: 11000;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
     -moz-box-shadow: #222 0px 0px 10px;
  -webkit-box-shadow: #222 0px 0px 10px;
          box-shadow: #222 0px 0px 10px;
  background: url(http://fc00.deviantart.net/fs30/i/2008/148/b/8/Wood_floor_by_gnrbishop.jpg);
  border: 6px solid rgba(0, 0, 0, 0.4);
}

.dialog_content .btn {
  margin-right: 20px;
}

.fb_button ,
.tw_button {
  width: 150px;
  height: 22px;
  display: block;
  text-indent: -9999px;
}

.fb_button {
  background: url(/images/facebook_signin.png);
}

.tw_button {
  background: url(/images/twitter_signin.png);
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 5px 14px 6px;
  color: #fff;
  line-height: normal;

     -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 1px 1px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 1px 1px 2px rgba(0,0,0,0.4);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 1px 1px 2px rgba(0,0,0,0.4);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
}

.btn:hover {
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 1px 1px 2px rgba(0,0,0,0.6);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 1px 1px 2px rgba(0,0,0,0.6);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 1px 1px 2px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.40);
  text-decoration: none;
}

.btn.blue {
  background-color: #339BB9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
}

#logout {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px 8px;
  font-size: 12px;
}

.total_score {
  font-size: 22px;
  background: rgba(255, 255, 150, 0.5);
  padding: 2px 5px;
}
